/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
*{
  margin: 0;
  padding: 0;
}
.parent{
  width: 100%;
  height:900px;
  background: var(--Neutral-White, #FFF); 

}

.header{
  margin-left: 5%;
  margin-top: 1%;
}
.navigation-item{
align-items: center;
gap: 12px;
flex: 1 0 0;
width: 1056;
height: 48;
display: inline-block;
margin-left: 80%;
}
.child{
  width: 100%;
height: 1000px;
  background-color: gray;
  position: relative;
  left:80px ;
  top: 58px;
}
.sidebar-navigation
{
display: flex;
width: 80px;
height: 828px;
padding: 72px 0px 136px 0px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;
}
.navigation{
  display: flex;
padding: 0px 16px;
flex-direction: column;
align-items: flex-start;
gap: 28px;
align-self: stretch;
}
.navbar{
  display: flex;
  flex-direction: row;


}
.navitem-home{
  display: flex;
  flex-direction: column;
  gap: 28px;
padding: 8px 12px;
align-items: center;
}
.home{
  background-color:#F3FAFC;
  width: 100%;
}
.tam{
  background-color:#F3FAFC;
  width: 100%;

}
.icon-frame{
  background-color:#F3FAFC;
  width: 100%;
}

.sam{
  background-color:#F3FAFC;
  width: 100%;

}
.cfa{
  background-color:#F3FAFC;
  width: 100%;

}

